body{
text-align:center;
background-color:burlywood;
}
h1{
font-family:fantasy;
color:aquamarine;
background-color:crimson;
}
h3{
font-family:cursive;
color:lightpink;
background-color:navajowhite;
}
img{
border:solid;
border-color:blue;
height:200px;
width:350px
}